.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: var(--container-sidemenu);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-sidemenu-overlay);
  padding: var(--space-20);
}

.container {
  position: relative;
  width: var(--container-sidemenu2);
  height: 100%;
  background: var(--color-background-sidemenu2);
  z-index: var(--z-index-sidemenu2);
  display: flex;
  flex-direction: column;
  padding: var(--space-25) var(--space-15);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--space-0) var(--space-10) var(--space-16);
  margin-bottom: var(--space-16);
  border-bottom: 1px solid var(--color-border-sidemenu);

  & .title {
    font-size: var(--text-2xl);
    font-weight: var(--font-medium);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-tight);
  }

  & .subTitle {

    font-size: var(--text-base);
    font-weight: var(--font-medium);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-tight);
  }

  & .active {
    color: var(--color-accent);
  }

  & .inactive {
    color: var(--color-inactive);
  }

  & .error {
    color: var(--color-error);
  }

  .closeButton {
    padding: 0;
    width: 36px;
    height: 36px;
  }

}

.box {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.tabs {
  background: var(--color-background-sidemenu3);
  width: 100%;
}



