.container {
  max-width: 1520px;
  padding: var(--space-50) var(--space-130) var(--space-0);
  @media (max-width: 1780px) {
    padding: var(--space-50) var(--space-0) var(--space-0);
  }
}

.titleWrapper {
  display: flex;
  align-items: flex-end;
  gap: var(--space-16);
  margin-bottom: var(--space-25);
}

.title {
  font-size: var(--text-5xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-tight);
}

.subtitle {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-tight);

  & span {
    color: var(--color-text-muted);
  }
}

.tableBodyAll {
  overflow-y: auto;
  max-height: calc(100vh - 520px);
}

.tableBody {
  overflow-y: auto;
  max-height: calc(100vh - 360px);
}

.tableSpace70 {
  margin-top: var(--space-70);
}

.tableSpace50 {
  margin-top: var(--space-50);
}

.dateSwitcherWrapper {
  margin-top: var(--space-25);
}


