.container {
  max-width: 1520px;
  padding: var(--space-50) var(--space-130) 0;
  @media (max-width: 1780px) {
    padding: var(--space-50) 0 0;
  }
}

.titleWrapper {
  display: flex;
  align-items: flex-end;
  gap: var(--space-16);
  margin-bottom: var(--space-25);
}

.title {
  font-size: var(--text-5xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-tight);
}

.subtitle {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-tight);

  & span {
    opacity: 0.5;
  }
}

.tableBodyAll {
  overflow-y: auto;
  max-height: calc(100vh - 520px);
}

.tableBody {
  overflow-y: auto;
  max-height: calc(100vh - 360px);

}

.tableSpace70 {
  margin-top: 70px;
}

.tableSpace50 {
  margin-top: 50px;
}


.dateSwitcherWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 25px;
}

.dateNavBtn {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-lg);
  background: rgba(255, 255, 255, 0.08);
}

.rotate {
  transform: rotate(180deg);
}

.dateBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: var(--radius-lg);
  background: rgba(255, 255, 255, 0.08);
}


