.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  padding: var(--space-4);
  border-radius: var(--radius-xl);
  background: var(--color-surface-dark);

  & .tabsItem {
    width: 100%;
    padding: var(--space-18) var(--space-22);
    background: transparent;
  }

  & .activeItem {
    background: var(--color-text-primary);
    color: var(--color-background);

    &:hover {
      color: var(--color-white);
    }
  }
}


